

/***********************************
 *			GRALES	
 * ********************************/
 
 
 .hidden {
/*
	visibility:hidden;
*/
	display:none;
 }


.debug{
	padding:20px;
	margin:20px;
	border:3px solid red;
}

.ajax-loader{
	width: 30px;
	height:15px;
}



/***********************************
 *			FRAMEWORK	
 * ********************************/
 
 
 
 
 
.vcenter_table {display:table; height:100%; }
.vcenter_container {display:table-cell; vertical-align:middle;}









.curtain_holder {
	position: absolute !important;
	display: block;
	width: 100%;
	height: 100%;
	padding: 0;
	
}

.curtain_holder .behind_curtain {
	display: block;	
}
.curtain_holder a .curtain, 
.curtain_holder a .over_curtain {
	display: none !important;	
}
.curtain_holder > div {
	position: absolute !important;
	top: 0;
	left: 0;
	display:inline-block;
	width: 100%;
	height: 100%;
}

.curtain_holder > div > img {
	width: 100%;
	height: 100%;
}

.curtain {
	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	/* IE 7-7 */
	filter: alpha(opacity=70);
	/* Netscape */
	-moz-opacity: 0.7;
	/* Safari 1.x */
	-khtml-opacity: 0.7;
	/* Good browsers */
	opacity: 0.7;
		
	background-color:#aaa;
}

.curtain_holder:hover > a .over_curtain,
.curtain_holder:hover > .curtain{
	display:inline-block !important;
}