[submodule "scripts/columnizer"]
	path = scripts/columnizer
	url = https://github.com/adamwulf/Columnizer-jQuery-Plugin.git
[submodule "backend/radio-taxonomies"]
	path = backend/radio-taxonomies
	url = https://github.com/stephenh1988/Radio-Buttons-for-Taxonomies.git
