/* ==========================================================================
   Base
   ========================================================================== */

body { 
   background-color: #232323;
   color:#ccc;
   width: 100%;
   height: 100%;
   position: absolute;
   z-index: 0;
}

h1 {
   color:#fa0;
}

div { background:none !important;}
/* =============================================================================
   Fullscreen
   ========================================================================== */

#fullscreen {
   width: 100%;
   height: 100%;
   display: inline-block;
   position: absolute;
   z-index: -1;
}


/* =============================================================================
   Raphael
   ========================================================================== */

svg {
   position: absolute !important;

}

svg text {
   color:#fff;
}

/* =============================================================================
   Header
   ========================================================================== */

.banner { }

#menu{
   background-image:-webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(32,32,32,0.75)), to(rgba(0,0,0,0.7)));
   background-image:-moz-linear-gradient(top,bottom,from(rgba(32,32,32,0.75)), to(rgba(0,0,0.7)));
}
#menu img{
   position: absolute;
   top:0;
   left: 0;
   opacity: 0.5;
}
.nav.main>ul{
   margin-top: 40px;
}
.nav.main>ul li ul{
   margin-top: 0px;
   font-size: 14px;
   line-height: 14px;
}

.navbar .nav > li > ul > li{
   font-size: 12px;
   list-style: none;
   border-radius: 15px;
}

.navbar .nav > li > a {
  float: none;
  padding: 10px 15px;
  text-decoration: none;
  text-shadow: 0 1px 0 #FFFFFF;
}

/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }

.menu.sidebar>ul>li {
   font-size: 20px;
   line-height: 18px;
   list-style: none;
   font-weight: bold;
}

/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */


.footer{
   position: fixed;
   top: 100%;
   margin-top: -50px;
   height: 50px;
}

.footer span{  
   padding: 10px;
   border-radius: 30px;
   background-color: #fa0;
}

.content-info { }



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 767px) {

}
